---
layout: empty
title: Craybuy
javascript: |-
  function copyCoupon() {
    couponCode.select();
    couponCode.setSelectionRange(0, 99999);
    document.execCommand("copy");
    alert("Copied!");
  }
  var menuDropDown = $('details#menu-dropdown')
  var couponTypeahead = $('input#coupon-typeahead');
  var couponTypeaheadResult = $('#coupon-typeahead-results');
  var couponName = document.getElementById('coupon-name');
  var couponSub = document.getElementById('coupon-sub');
  var couponCode = document.getElementById('coupon-code');
  var couponLogo = document.getElementById('coupon-logo');
  var couponDesc = document.getElementById('coupon-desc');
  var couponExpires = document.getElementById('coupon-expires');
  $('#couponModal').on('show.bs.modal', function (e) {
    if(!e.relatedTarget.dataset) return;
    var couponDetails = JSON.parse(e.relatedTarget.dataset.details);
    couponName.innerText = couponDetails.name;
    couponSub.innerText = couponDetails.subtitle;
    couponCode.value = couponDetails.code;
    couponLogo.src = toAbsolute(couponDetails.logo);
    couponDesc.innerText = couponDetails.desc;
    couponExpires.innerText = new Date(couponDetails.expiry).toDateString();
    window.open(couponDetails.link, '_blank').focus()
  }); couponTypeahead.on('keyup',function(e){
    couponTypeaheadResult.empty();
    var typeaheadValue = (couponTypeahead.val()||'').toLowerCase()
    var r = $(
      'h3.card-title[data-label^="'
      +typeaheadValue
      +'"]'
    ).slice(0,5);
    $.each(r, function(ci, cv){
      couponTypeaheadResult.append(
        '<a href="#'
        +cv.dataset.index
        +'" class="list-group-item list-group-item-action text-capitalize">'
        +cv.dataset.label
        +'</a>'
      );
    });
    if(!r.length && typeaheadValue){
      couponTypeaheadResult.append(
        '<span class="list-group-item bg-info text-white">Nothing Found</span>'
      );
    }
  }); $('body').on('click',function(){
    couponTypeaheadResult.empty();
    menuDropDown && menuDropDown.removeAttr('open');
  })
date: '2018-12-31T18:30:00.000+00:00'
coupons:
- name: Shopping
  coupons:
  - name: SHEIN
    link: https://www.shein.com/?aff_id=44184
    subtitle: Extra 15% OFF Worldwide
    desc: Shein carries only the most fashionable women's clothes. Find stylish outfits
      for less - shop dresses, tops, jeans and more. Apply your Shein promo codes
      and Shein coupons at checkout for even bigger savings!
    isNew: false
    code: QNQ15
    logo: "/uploads/Shein Logo.jpg"
    expiry: 2019-11-11T18:30:00.000+00:00
  - name: SHEIN Canada
    logo: "/uploads/Shein Logo.jpg"
    link: "https://www.shein.in/?aff_id=44184"
    code: NEON39
    isNew: false
    expiry: 2026-08-13 18:30:00 +0000
    subtitle: Get CA$39 off over CA$230
    desc: Shein carries the most fashionable women's, men's and kids clothes. Find
      stylish outfits for less - shop dresses, tops, jeans and more. Apply your Shein
      promo codes and Shein coupons at checkout for even bigger savings!
  - name: SHEIN Canada
    logo: "/uploads/Shein Logo.jpg"
    link: "#"
    code: NEON19
    isNew: false
    expiry: 2026-08-13 18:30:00 +0000
    subtitle: Get CA$19 off over CA$130
    desc: Shein carries the most fashionable women's, men's and kids clothes. Find
      stylish outfits for less - shop dresses, tops, jeans and more. Apply your Shein
      promo codes and Shein coupons at checkout for even bigger savings!
  - name: SHEIN Canada
    link: https://www.shein.com/?aff_id=44184
    subtitle: Get CA$9 off over CA$90
    desc: Shein carries the most fashionable women's, men's and kids clothes. Find
      stylish outfits for less - shop dresses, tops, jeans and more. Apply your Shein
      promo codes and Shein coupons at checkout for even bigger savings!
    isNew: false
    code: NEON9
    logo: "/uploads/Shein Logo.jpg"
    expiry: 2024-08-08T15:16:44.000+00:00
  - name: SHEIN Hong Kong
    link: https://www.shein.com/?aff_id=44184
    subtitle: Get extra 15% off on orders HK$799+
    desc: Shein carries the most fashionable women's, men's and kids clothes. Find
      stylish outfits for less - shop dresses, tops, jeans and more. Apply your Shein
      promo codes and Shein coupons at checkout for even bigger savings!
    isNew: false
    code: 11SHHK
    logo: "/uploads/Shein Logo.jpg"
    expiry: 2019-11-12T15:16:44.000+00:00
  - name: SHEIN Thailand
    link: https://www.shein.com/?aff_id=44184
    subtitle: Get extra 15% off on orders ฿999+
    desc: Shein carries only the most fashionable women's clothes. Find stylish outfits
      for less - shop dresses, tops, jeans and more. Apply your Shein promo codes
      and Shein coupons at checkout for even bigger savings!
    isNew: false
    code: 11TH11
    logo: "/uploads/Shein Logo.jpg"
    expiry: 2019-11-12T15:16:44.000+00:00
- name: Travel
  coupons:
  - name: Booking.com
    logo: "/uploads/1280px-Booking.com_logo.svg.png"
    link: https://www.booking.com/index.html?aid=1900369
    code: OFFER ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Couple Romantic Destinations - Save Up To 15% OFF From Booking.com
    desc: Plan your getaways to the top Asian and European destinations with your
      partner and get benefited from deals and prices that are discounted up to 15%
      and more from booking.com.
  - name: Booking.com
    logo: "/uploads/1280px-Booking.com_logo.svg.png"
    link: https://www.booking.com/index.html?aid=1900369
    code: OFFER ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Book with 20% or more discount on stays around the world
    desc: Book with 20% or more discount on stays around the world during this festive
      season. Offer only valid on selected hotels at booking.com.
  - name: Booking.com
    logo: "/uploads/1280px-Booking.com_logo.svg.png"
    link: https://www.booking.com/index.html?aid=1900369
    code: OFFER ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: 'Festive Mega Sale: Now grab at least 20% Off on destination holidays.'
    desc: Grab at least 20% Off on destination holidays. This is applicable only for
      select properties. You can visit any place listed on the landing page.
- name: Nutraceuticals
  coupons:
  - name: LEAN Nutraceutical
    logo: "/uploads/LEAN.png"
    link: https://lean-nutraceuticals.kckb.st/3b2d1901
    code: LEAN10-EJ5EKF
    isNew: true
    expiry: 2019-11-15 18:30:00 +0000
    subtitle: 10% off all products.
    desc: Save money by using our discount code and get 10% discount of the best nutraceutical
      products.
- name: Crypto
  coupons:
  - name: Changelly
    link: https://changelly.com/?ref_id=jaq8yj1gk3suo0es
    subtitle: Trade Cryptocurrencies
    desc: 'Changelly is the best platform for selling and buying Bitcoins. They are
      a user friendly platform which makes trading of Bitcoins very easy. '
    isNew: false
    code: OFFER ACTIVATED
    logo: "/uploads/Screen Shot 2019-11-02 at 4.26.14 PM.png"
    expiry: 2019-12-30T18:30:00.000+00:00
  - name: BTC CLICKS
    link: https://btcclicks.com/?r=bf35b2da
    subtitle: Earn Bitcoins
    desc: Earn bitcoins in the easiest possible way. Just by sparing 5 mins of your
      time you can earn bitcoins.
    isNew: true
    code: OFFER ACTIVATED
    logo: "/uploads/Screen Shot 2019-11-02 at 4.24.08 PM.png "
    expiry: 2019-12-30T18:30:00.000+00:00
- name: Health
  coupons:
  - name: Seedsman
    link: https://www.seedsman.com/en/?a_aid=5da998fd2e6e5
    subtitle: " Buy Cannabis and Marijuana Seeds"
    desc: Buy top quality Cannabis Seeds from Seedsman today. Our range of marijuana
      seeds is one of the largest online, with more than 3000 varieties of Cannabis
      Seeds available to buy. Our diverse library of cannabis seeds includes a wide
      range of feminised seeds, regular seeds, autoflowering seeds as well as potent
      high THC strains and high CBD medical strains featuring superior genetics from
      every corner of the globe. You can also keep up to date with the latest Medical
      Marijuana news on our blog.
    isNew: false
    code: OFFER ACTIVATED
    logo: "/uploads/logo.png"
    expiry: 2019-11-30T15:16:44.000+00:00
  - name: Tiger One
    link: https://www.tiger-one.eu/en/?a_aid=5da998fd2e6e5
    subtitle: Buy Cannabis Seeds
    desc: Buy top quality Cannabis Seeds from Seedsman today. Our range of marijuana
      seeds is one of the largest online, with more than 3000 varieties of Cannabis
      Seeds available to buy. Our diverse library of cannabis seeds includes a wide
      range of feminised seeds, regular seeds, autoflowering seeds as well as potent
      high THC strains and high CBD medical strains featuring superior genetics from
      every corner of the globe. You can also keep up to date with the latest Medical
      Marijuana news on our blog.
    isNew: false
    code: OFFER ACTIVATED
    logo: "/uploads/Screen Shot 2019-11-02 at 1.44.22 PM.png"
    expiry: 2019-11-07T15:16:44.000+00:00
  - name: Seedsman CBD
    link: https://www.seedsmancbd.com/en/?a_aid=5da998fd2e6e5
    subtitle: Buy Cannabis Seeds
    desc: Buy top quality Cannabis Seeds from Seedsman today. Our range of marijuana
      seeds is one of the largest online, with more than 3000 varieties of Cannabis
      Seeds available to buy. Our diverse library of cannabis seeds includes a wide
      range of feminised seeds, regular seeds, autoflowering seeds as well as potent
      high THC strains and high CBD medical strains featuring superior genetics from
      every corner of the globe. You can also keep up to date with the latest Medical
      Marijuana news on our blog.
    isNew: false
    code: OFFER ACTIVATED
    logo: "/uploads/Screen Shot 2019-11-02 at 1.51.59 PM.png"
    expiry: 2019-11-13T15:16:44.000+00:00
description: The Online Coupon Store
image: ''

---
<header id="nav-header" class='bg-danger'>
  <div class='d-flex position-relative nav-wrap justify-content-between align-items-center px-2 py-3'>
    <div id="nav-logo">
      <a class='font-weight-bolder h1 text-cursive text-nowrap text-decoration-none text-white' href='{{- site.url -}}' style="font-size:48px">
        {{- site.logo_name -}}
      </a>
    </div>
    <!-- nav -->
    <nav id="nav-links" class='navbar navbar-dark bg-danger'>
      <div class='nav m-auto justify-content-center'>
        {%- for section in page.coupons -%}
          <a class='nav-link text-white' href='#{{- section.name | downcase -}}'>{{- section.name -}}</a>
          {% if forloop.index == 4 %}
          {% break %}
          {% endif %}
        {%- endfor -%}
        <details id="menu-dropdown" class="nav-link text-white position-relative">
          <summary class="dropdown-title"></summary>
          <div class="dropdown-summary position-absolute bg-white">
            {%- for section in page.coupons -%}
              {% if forloop.index <= 1 %}
              {% continue %}
              {% endif %}
              <a class='nav-link text-danger' href='#{{- section.name | downcase -}}'>{{- section.name -}}</a>
            {%- endfor -%}
          </div>
        </details>
      </div>
    </nav>
    <div id="coupon-typeahead-wrap" class="position-relative input-group">
      <input id="coupon-typeahead" type="text" class="form-control border-0 rounded-0" aria-label="Search" placeholder="🔍">
      <div class="input-group-append">
        <button class="input-group-text btn" type="button" data-toggle="modal" data-target="#sidebar">☰</button>
      </div>
      <div id="coupon-typeahead-results" class="typeahead-results list-group list-group-flush border-1 rounded-0 position-absolute w-100"></div>
    </div>
  </div>
</header>
<!-- put banner here -->
<main class='container-fluid'>
{%- for section in page.coupons -%}
{%- assign primaryIndex = forloop.index -%}
<h2 class='text-black-50 text-center text-cursive mt-4 mb-2' id='{{- section.name | downcase -}}'>
  {%- if section.description -%}
  {{- section.description -}}
  {%- else -%}
  {{- section.name -}}
  {%- endif -%}
</h2>
<div class='row justify-content-center'>
{%- for coupon in section.coupons -%}
{%- assign secondaryIndex = forloop.index | prepend: '-' | prepend: primaryIndex -%}
<a id="{{secondaryIndex}}" class='card col-md-3 p-0 mx-4 my-2 text-decoration-none shadow-lg' data-toggle='modal' data-target='#couponModal' data-details='{{- coupon | jsonify | escape_once -}}' href='{{- coupon.link -}}' target='_blank' rel="noopener">
  {%- if coupon.isNew -%}
  <div class="ribbon"><span>New</span></div>
  {%- endif -%}
  <img src='{{- coupon.logo | absolute_url -}}' class='card-img-top img-contain mt-2 px-4' alt='{{ coupon.name }}' height='110' loading="lazy">
  <div class='card-body'>
    <h3 class='card-title lead' data-label="{{ coupon.name | downcase }}" data-index="{{ secondaryIndex }}">{{- coupon.name -}}</h3>
    <h4 class='card-subtitle h6 text-muted'>{{ coupon.subtitle }}</h4>
  </div>
  <div class='card-footer bg-info text-white'>Valid till: {{ coupon.expiry | date_to_string }}</div>
</a>
{%- endfor -%}
</div>
{%- endfor -%}
</main>
<!-- put secondary banner here -->
<!-- Modal -->
<aside class='modal fade' id='couponModal' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-body text-center'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
        <img id="coupon-logo" class="my-4 w-100 img-contain" src="" height="110" loading="lazy"/>
        <div class='modal-title h4' id="coupon-name"></div>
        <div class='modal-title h5 my-2 text-muted' id="coupon-sub"></div>
        <div class="input-group my-4 mx-auto w-50">
          <input id="coupon-code" type="text" class="form-control text-center h3" value="" readonly="" />
          <div class="input-group-append" onclick="javascript:copyCoupon()">
            <span class="input-group-text bg-info border-info text-white">COPY</span>
          </div>
        </div>
        <hr/>
        <div class="text-justify">
          <span class="text-muted">Details: </span>
          <span id="coupon-desc"></span>
          <hr/>
          Expires: <span id="coupon-expires" class="text-muted"></span>
        </div>
      </div>
    </div>
  </div>
</aside>