---
layout: empty
title: Craybuy
javascript: |-
  function copyCoupon() {
    couponCode.select();
    couponCode.setSelectionRange(0, 99999);
    document.execCommand("copy");
    alert("Copied!");
  }
  var menuDropDown = $('details#menu-dropdown')
  var couponTypeahead = $('input#coupon-typeahead');
  var couponTypeaheadResult = $('#coupon-typeahead-results');
  var couponName = document.getElementById('coupon-name');
  var couponSub = document.getElementById('coupon-sub');
  var couponCode = document.getElementById('coupon-code');
  var couponLogo = document.getElementById('coupon-logo');
  var couponDesc = document.getElementById('coupon-desc');
  var couponExpires = document.getElementById('coupon-expires');
  $('#couponModal').on('show.bs.modal', function (e) {
    if(!e.relatedTarget.dataset) return;
    var couponDetails = JSON.parse(e.relatedTarget.dataset.details);
    couponName.innerText = couponDetails.name;
    couponSub.innerText = couponDetails.subtitle;
    couponCode.value = couponDetails.code;
    couponLogo.src = toAbsolute(couponDetails.logo);
    couponDesc.innerText = couponDetails.desc;
    couponExpires.innerText = new Date(couponDetails.expiry).toDateString();
    window.open(couponDetails.link, '_blank').focus()
  }); couponTypeahead.on('keyup',function(e){
    couponTypeaheadResult.empty();
    var typeaheadValue = (couponTypeahead.val()||'').toLowerCase()
    var r = $(
      'h3.card-title[data-label^="'
      +typeaheadValue
      +'"]'
    ).slice(0,5);
    $.each(r, function(ci, cv){
      couponTypeaheadResult.append(
        '<a href="#'
        +cv.dataset.index
        +'" class="list-group-item list-group-item-action text-capitalize">'
        +cv.dataset.label
        +'</a>'
      );
    });
    if(!r.length && typeaheadValue){
      couponTypeaheadResult.append(
        '<span class="list-group-item bg-info text-white">Nothing Found</span>'
      );
    }
  }); $('body').on('click',function(){
    couponTypeaheadResult.empty();
    menuDropDown && menuDropDown.removeAttr('open');
  })
date: '2018-12-31 18:30:00 +0000'
banner:
- name: Ali Express
  image: http://img.alibaba.com/images/cms/upload/wholesale/promotion/2010/ppc/item_banner.jpg
  link: http://www.kqzyfj.com/click-9210567-12558796
- name: Ask Me
  image: http://affiliate.asknow.com/Banners/asknow.com/15%20Minutes%20for%20$10/010%20Candle%20Vision/Other%20Sizes/candle_vision_15for10_660x440.jpg
  link: http://www.asknow.com/cdn/affiliate-pink-love?campaign=196155
- name: Shein
  image: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQXLIiymLAL-2OADmaw_zIXndQIsTrsUFDi_Q04Punl2L5wLOCu
  link: https://www.shein.com/style/Elegant-sc-00100648.html?aff_id=44184
- name: Booking.com
  image: https://cdn2.hubspot.net/hubfs/263750/Travel%20Conversion%20Banners%20AWP3.jpg
  link: https://www.booking.com/index.html?aid=1900369
- name: SheIN
  image: http://shein.ltwebstatic.com/image/us/article/461/banner4.jpg
  link: https://www.shein.com/style/Elegant-sc-00100648.html?aff_id=44184
coupons:
- name: Ali Express
  description: ''
  coupons:
  - name: Best Deals
    logo: "/uploads/download-1.png"
    link: http://www.anrdoezrs.net/click-9210567-13356426
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Bestselling products under $5
    desc: Buy the bestselling items being clothing, electronics, phone accessories
      and much more under $5. What more can you ask for. Start shopping now on Ali
      Express.
  - name: Women's Fashion
    logo: "/uploads/Plus-size-Houndstooth-Autumn-Winter-Wool-Cape-Coat-Women-Fashion-Woolen-Plaid-Female-Jacket-New-Long.jpg_q50.jpg"
    link: http://www.jdoqocy.com/click-9210567-12574172
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: 'Upto 50% OFF '
    desc: 'Attention all ladies buy clothes, shoes, make up, accessories and much
      more from Ali Express and get 50% off. Start shopping now. '
  - name: Jewellery
    logo: "/uploads/HLB1ilQAXUzrK1RjSspmq6AOdFXa3.jpg_q50.jpg"
    link: http://www.tkqlhce.com/click-9210567-12558793
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: 50% Off
    desc: Buy all kinds of jewellery for all types on needs from Ali Express and get
      50% off.
  - name: Consumer Electonics
    logo: "/uploads/download-3.jpeg"
    link: http://www.jdoqocy.com/click-9210567-12558780
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: 50% Off
    desc: Interested in buying computers, laptops, mobile phones, headsets, speakers
      and so on just go to Ali Express and buy your electronic goods and get 50% off.
  - name: Sports Gear
    logo: "/uploads/01_sport-winter-ready-02.png"
    link: http://www.kqzyfj.com/click-9210567-12558785
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: 50% Off
    desc: 'All sports enthusiasts shop for your favourite sports clothes, gears, equipments,
      accessories and much more from Ali Express and get 50% off. Start shopping now. '
  - name: Mystery Coupons
    logo: "/uploads/download-1.png"
    link: http://www.jdoqocy.com/click-9210567-13355589
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Get Mystery Coupons on Ali Express
    desc: Sign up on Ali Express and get mystery coupons on the bestselling items
      being clothing, electronics, phone accessories and much more. Start shopping
      now on Ali Express.
- name: Fashion
  description: Shop Today's Trending Deals and Save Big
  coupons:
  - name: BangGood.com
    logo: "/uploads/banggood.jpg"
    link: https://www.banggood.com/marketing-Banggood-Black-Friday-Fashion-Sale/tid-5194.html?utmid=10509&utm_campaign=BFFS&p=M5201941884210201911&custlinkid=694590
    code: ACTIVATED
    isNew: false
    expiry: 2019-11-29 18:30:00 +0000
    subtitle: Black Friday Fashion Sale
    desc: 'Buy your favourite clothes, shoes, suits, etc from banggood and get upto
      50% off. '
  - name: SHEIN
    logo: "/uploads/Shein Logo.jpg"
    link: https://www.shein.com/?aff_id=44184
    code: FALL2019
    isNew: false
    expiry: 2019-11-29 18:30:00 +0000
    subtitle: Get US$10 off orders US$90+  Get US$25 off orders US$140+  Get US$35
      off orders US$210+
    desc: 'Details: Shein offers the most fashionable clothes for men and women. Get
      stylish outfits - shop dresses, tops, jeans and much more. Apply this Shein
      coupon code for even bigger savings!'
  - name: Zaful
    logo: "/uploads/Zaful Logo.png"
    link: http://www.dpbolvw.net/click-9210567-13888883
    code: HAPPY25
    isNew: false
    expiry: 2019-12-04 18:30:00 +0000
    subtitle: 'Black Friday Sale: 22% off $69, 25% off $119'
    desc: Zaful is a very popular brand with great, good quality and different varieties
      of products. Use this coupon code to save your hard earned money.
  - name: SHEIN
    logo: "/uploads/Shein Logo.jpg"
    link: https://www.shein.com/?aff_id=44184
    code: AUUA15
    isNew: false
    expiry: 2020-12-30 18:30:00 +0000
    subtitle: Get $15 off orders $100+
    desc: Shein offers the most fashionable clothes for men and women. Get stylish
      outfits - shop dresses, tops, jeans and much more. Apply this Shein coupon code
      for even bigger savings!
  - name: Zaful
    logo: "/uploads/Zaful Logo.png"
    link: http://www.jdoqocy.com/click-9210567-13862667
    code: ZVVIP
    isNew: false
    expiry: 2019-12-31 18:30:00 +0000
    subtitle: Extra 25% off $129 / 15% off $60
    desc: Zaful is a very popular brand with great, good quality and different varieties
      of products. Use this coupon code to save your hard earned money.
  - name: SHEIN
    logo: "/uploads/Shein Logo.jpg"
    link: https://www.shein.com/?aff_id=44184
    code: AFFBF15WWW
    isNew: false
    expiry: 2019-12-14 18:30:00 +0000
    subtitle: Get 15% OFF
    desc: Shein offers the most fashionable clothes for men and women. Get stylish
      outfits - shop dresses, tops, jeans and much more. Apply this Shein coupon code
      for even bigger savings!
  - name: Zaful
    logo: "/uploads/Zaful Logo.png"
    link: http://www.dpbolvw.net/click-9210567-13837187
    code: FUN18
    isNew: false
    expiry: 2020-08-29 18:30:00 +0000
    subtitle: 'Extra 18% off '
    desc: Zaful is a very popular brand with great, good quality and different varieties
      of products. Use this coupon code to save your hard earned money.
  - name: SHEIN
    logo: "/uploads/Shein Logo.jpg"
    link: https://www.shein.com/?aff_id=44184
    code: AFFBF15EUR
    isNew: false
    expiry: 2019-12-14 18:30:00 +0000
    subtitle: 'Get 15% off '
    desc: 'SHEIN is one of the best and most affordable brand for shopping worldwide.
      Get best quality clothes for women, men and children. Get stylish outfits -
      shop dresses, tops, jeans and much more. Apply this Shein coupon code for even
      bigger savings! '
  - name: SHEIN
    logo: "/uploads/Shein Logo.jpg"
    link: https://www.shein.com/?aff_id=44184
    code: AFFBF15RU
    isNew: false
    expiry: 2019-12-14T18:30:00.000+00:00
    subtitle: Extra 15% OFF Worldwide
    desc: Shein offers the most fashionable clothes for men and women. Get stylish
      outfits - shop dresses, tops, jeans and much more. Apply this Shein coupon code
      for even bigger savings!
  - name: SHEIN Canada
    logo: "/uploads/Shein Logo.jpg"
    link: https://www.shein.com/?aff_id=44184
    code: NEON39
    isNew: false
    expiry: 2026-08-13T18:30:00.000+00:00
    subtitle: Get CA$39 off over CA$230
    desc: Shein offers the most fashionable clothes for men and women. Get stylish
      outfits - shop dresses, tops, jeans and much more. Apply this Shein coupon code
      for even bigger savings!
  - name: SHEIN Canada
    logo: "/uploads/Shein Logo.jpg"
    link: https://www.shein.com/?aff_id=44184
    code: NEON19
    isNew: false
    expiry: 2026-08-13T18:30:00.000+00:00
    subtitle: Get CA$19 off over CA$130
    desc: Shein offers the most fashionable clothes for men and women. Get stylish
      outfits - shop dresses, tops, jeans and much more. Apply this Shein coupon code
      for even bigger savings!
  - name: SHEIN Canada
    link: https://www.shein.com/?aff_id=44184
    subtitle: Get CA$9 off over CA$90
    desc: Shein offers the most fashionable clothes for men and women. Get stylish
      outfits - shop dresses, tops, jeans and much more. Apply this Shein coupon code
      for even bigger savings!
    isNew: false
    code: NEON9
    logo: "/uploads/Shein Logo.jpg"
    expiry: 2024-08-08T15:16:44.000+00:00
- name: Travel
  description: <div id="adgshp-610272504" class="m-auto"></div> <script type="text/javascript"
    src="//cdn0.agoda.net/images/sherpa/js/init-dynamic_v8.min.js"></script><script
    type="text/javascript"> var stg = new Object(); stg.crt="24524466617209";stg.version="1.05";
    stg.id=stg.name="adgshp-610272504"; stg.Width="728px"; stg.Height="90px";stg.RefKey="ndeuNCHP3KnutKCrlIHKKg==";stg.AutoScrollSpeed=2000;stg.AutoScrollToggle=true;stg.SearchboxShow=false;stg.DiscountedOnly=true;stg.Layout="widedynamic";
    stg.Language="en-us";stg.ApiKey="a7d8ef4e-41c8-42c5-b3c2-21543259dd67";stg.Cid="1837761";
    stg.City="16573";stg.Currency="USD";stg.OverideConf=false; new AgdDynamic('adgshp-610272504').initialize(stg);
    </script>
  coupons:
  - name: Booking.com
    logo: "/uploads/1280px-Booking.com_logo.svg.png"
    link: https://www.booking.com/index.html?aid=1900369
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Save Up To 50% + Free Cancellation
    desc: Go to Booking.com to save up to 50% + free cancellation on most of the rooms.
  - name: Agoda
    logo: "/uploads/agoda-logo-flat-2019.png"
    link: https://www.agoda.com/deals?pcs=1&cid=1837761
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Up To 80% Off Hotels
    desc: Get the lowest prices on your next stay when you book with Agoda! Compare
      prices on 2,000,000+ accommodations, worldwide and save up to 80% off!
  - name: Agoda
    logo: "/uploads/agoda-logo-flat-2019.png"
    link: https://www.agoda.com/deals?pcs=1&cid=1837761
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Get Up To $100 Off
    desc: Sign up for a free Agoda account to get insider access and receive special
      discounts/offers sent directly to your email. Agoda emails contain special sale
      links, so click here to sign up now! Please note, email offers may not be sent
      immediately.
  - name: Agoda
    logo: "/uploads/agoda-logo-flat-2019.png"
    link: https://www.agoda.com/deals?pcs=1&cid=1837761
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Up To 10% Off on Exclusive Deals
    desc: Get new deals everyday to save big on your next vacation with exclusive
      Agoda coupon codes. Bookmark this page and check back daily because deals are
      constantly changing!
  - name: Booking.com
    logo: "/uploads/1280px-Booking.com_logo.svg.png"
    link: https://www.booking.com/index.html?aid=1900369
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30T18:30:00.000+00:00
    subtitle: Couple Romantic Destinations - Save Up To 15% OFF From Booking.com
    desc: Plan your getaways to the top Asian and European destinations with your
      partner and get benefited from deals and prices that are discounted up to 15%
      and more from booking.com.
  - name: Booking.com
    logo: "/uploads/1280px-Booking.com_logo.svg.png"
    link: https://www.booking.com/index.html?aid=1900369
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30T18:30:00.000+00:00
    subtitle: Book with 20% or more discount on stays around the world
    desc: Book with 20% or more discount on stays around the world during this festive
      season. Offer only valid on selected hotels at booking.com.
  - name: Agoda
    logo: "/uploads/agoda-logo-flat-2019.png"
    link: https://www.agoda.com/deals?pcs=1&cid=1837761
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: 30% OFF on Travel Deals
    desc: Get up to 30% off hotel prices when you sign up for Agoda Insider Deals!
      Prices drop the moment you sign in. Create one for free today!
  - name: Booking.com
    logo: "/uploads/1280px-Booking.com_logo.svg.png"
    link: https://www.booking.com/index.html?aid=1900369
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30T18:30:00.000+00:00
    subtitle: 'Festive Mega Sale: Now grab at least 20% Off on destination holidays.'
    desc: Grab at least 20% Off on destination holidays. This is applicable only for
      select properties. You can visit any place listed on the landing page.
- name: Beauty & Skin Care
  description: ''
  coupons:
  - name: ClearPores
    logo: "/uploads/download (1).jpeg"
    link: https://www.clearpores.com/ct/540062
    code: "540062"
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Save today up to 35%
    desc: ClearPores is a total skin cleansing system designed to fight acne from
      the inside out and our blended ingredients make it one of the most successful
      acne products on the market.
  - name: Instant Wrinkle Reducer™
    logo: "/uploads/Instant-Wrinkle-Reducer-500x500.jpg"
    link: https://www.instantwrinklereducer.com/ct/540062
    code: "540062"
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Buy supply for 6 months and save $69.75
    desc: Pitch Instant Wrinkle Reducer as the exclusive topical application from
      Skinception™ that women wear to look amazing FAST, be it for work or as they
      head out for the evening.
  - name: Kollagen Intensiv™
    logo: "/uploads/download.jpeg"
    link: https://www.kollagenintensiv.com/ct/540062
    code: "540062"
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Get a Free Gift with every purchase
    desc: Kollagen Intensiv™ is a clinically proven product which includes the latest
      medical breakthroughs in natural collagen renewal, encouraging your skin to
      naturally increase collagen production for a visible reduction of wrinkles,
      fine lines, age spots, and more. Skin regains a more youthful appearance.
- name: Books
  description: ''
  coupons:
  - name: BetterWorldBooks.com
    logo: "/uploads/download-2.jpeg"
    link: http://www.dpbolvw.net/click-9210567-13870111
    code: STATEFARM15
    isNew: false
    expiry: 2020-02-28 18:30:00 +0000
    subtitle: Get 15% off 3+ USED Books!
    desc: Your online bookstore with millions of used books at bargain prices. Super
      selection, low prices. Shop for your next used book or textbook now.
  - name: Jamalon
    logo: "/uploads/jamalon-2019-logo-en-arabiccoupon-400x400.jpg"
    link: https://jamalon.cake.aclz.net/?a=4137&c=16&p=r&s1=
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Online bookstore
    desc: 'Jamalon is the largest online bookstore offering books with worldwide delivery.
      Buy your favorite books and avail great discount. You can find a massive range
      of English and Arabic books. Select from various categories that include Antiques,
      Collectibles, Novels, Fictions and more. '
  - name: How to Grow Weed
    logo: "/uploads/howtogrowweed1.jpg"
    link: https://www.howtogrowweed420.com/affiliate/idevaffiliate.php?id=4347
    code: ACTIVATED
    isNew: false
    expiry: 2020-01-30 18:30:00 +0000
    desc: How to grow weed is a complete guide to help people who want to grow legal
      weed in their houses or starting a weed farm. Click check out their website
      and get discounts via our coupon code.
    subtitle: Growing Legal Weed
- name: Health
  coupons:
  - name: LEAN Nutraceutical
    logo: "/uploads/LEAN.png"
    link: https://lean-nutraceuticals.kckb.st/3b2d1901
    code: LEAN10-EJ5EKF
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: 10% off all products.
    desc: Save money by using our discount code and get 10% discount of the best nutraceutical
      products.
  - name: Mirica®
    logo: "/uploads/Shopify_-_Front_copy_370x.webp"
    link: "#https://youngnutra.com/?rfsn=3432056.2c2562&utm_source=refersion&utm_medium=affiliate&utm_campaign=3432056.2c2562"
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Natural Pain Relief - Anti-Inflammatory Supplement
    desc: A mixture of Pea (Palmitoylethanolamide) and Luteolin this supplement helps
      decrease pains related to arthritis, body pains, swellings, etc. Buy now and
      get discounts.
  - name: 'TurmaSlim Diet Supplement '
    logo: "/uploads/TurmaSlim Bottle 1.png"
    link: http://tracking.getturmaslim.com/aff_c?offer_id=7&aff_id=1208
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30T18:30:00.000+00:00
    subtitle: TurmaSlim - Diet Supplement
    desc: Amongst the vast amount of weight loss supplements, there is one that stands
      out because of its thoroughly tested ingredients and its endorsements by the
      medical community and celebrities alike.
  - name: Seedsman
    link: https://www.seedsman.com/en/?a_aid=5da998fd2e6e5
    subtitle: 20% Discount on using this code for any product
    desc: Buy top quality Cannabis Seeds from Seedsman today. Our range of marijuana
      seeds is one of the largest online, with more than 3000 varieties of Cannabis
      Seeds available to buy. Our diverse library of cannabis seeds includes a wide
      range of feminised seeds, regular seeds, autoflowering seeds as well as potent
      high THC strains and high CBD medical strains featuring superior genetics from
      every corner of the globe. You can also keep up to date with the latest Medical
      Marijuana news on our blog.
    isNew: false
    code: 20AS-592283
    logo: "/uploads/logo.png"
    expiry: 2019-12-31T15:16:44.000+00:00
  - name: TurmaSlim - Turmeric + Forskolin Weight Loss
    logo: "/uploads/TurmaSlim Bottle 1.png"
    link: http://tracking.getturmaslim.com/aff_c?offer_id=6&aff_id=1208
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30T18:30:00.000+00:00
    subtitle: TurmaSlim - Turmeric + Forskolin Weight Loss
    desc: Amongst the vast amount of weight loss supplements, there is one that stands
      out because of its thoroughly tested ingredients and its endorsements by the
      medical community and celebrities alike.
  - name: Seedsman CBD
    link: https://www.seedsmancbd.com/en/?a_aid=5da998fd2e6e5
    subtitle: Buy Cannabis Seeds
    desc: Buy top quality Cannabis Seeds from Seedsman today. Our range of marijuana
      seeds is one of the largest online, with more than 3000 varieties of Cannabis
      Seeds available to buy. Our diverse library of cannabis seeds includes a wide
      range of feminised seeds, regular seeds, autoflowering seeds as well as potent
      high THC strains and high CBD medical strains featuring superior genetics from
      every corner of the globe. You can also keep up to date with the latest Medical
      Marijuana news on our blog.
    isNew: false
    code: ACTIVATED
    logo: "/uploads/Screen Shot 2019-11-02 at 1.51.59 PM.png"
    expiry: 2019-11-13T15:16:44.000+00:00
  - name: 'Awakened Alchemy '
    logo: "/uploads/Awaken-Natual.jpg"
    link: http://awakened-alchemy.com?aff=97
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Save 15% by subscribing to their website
    desc: " Nourish your brain and evolve your mind with Awakened Alchemy’s supplements.
      Whether you are looking for individual growth or a cut-throat edge, Dream and
      AWAKEN will support you in growing your efficiency, releasing your imagination,
      and evolving the astounding potentials of your brain."
  - name: Tiger One
    link: https://www.tiger-one.eu/en/?a_aid=5da998fd2e6e5
    subtitle: Buy Cannabis Seeds
    desc: Buy top quality Cannabis Seeds from Seedsman today. Our range of marijuana
      seeds is one of the largest online, with more than 3000 varieties of Cannabis
      Seeds available to buy. Our diverse library of cannabis seeds includes a wide
      range of feminised seeds, regular seeds, autoflowering seeds as well as potent
      high THC strains and high CBD medical strains featuring superior genetics from
      every corner of the globe. You can also keep up to date with the latest Medical
      Marijuana news on our blog.
    isNew: false
    code: ACTIVATED
    logo: "/uploads/Screen Shot 2019-11-02 at 1.44.22 PM.png"
    expiry: 2019-11-07T15:16:44.000+00:00
  description: <a href="https://www.seedsmancbd.com/en/?a_aid=5da998fd2e6e5&amp;a_bid=43a97b6b"
    target=""><img src="//seedsman.postaffiliatepro.com/accounts/default1/aang5ubmn24/43a97b6b.gif"
    alt="Buy Quality Lab Tested CBD Oil" title="Buy Quality Lab Tested CBD Oil" width="728"
    height="90" /></a><img style="border:0" src="https://seedsman.postaffiliatepro.com/scripts/aang5uimn24?a_aid=5da998fd2e6e5&amp;a_bid=43a97b6b"
    width="1" height="1" alt="" />
- name: Astrology
  description: ''
  coupons:
  - name: AskNow
    logo: "/uploads/asknowcom-wide.jpg"
    link: http://www.asknow.com/cdn/affiliate-pink-love?campaign=196155
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    desc: Check Out Psychic Readings Online and Psychic Phone Readings Today!
    subtitle: Ask a Psychic a Free Question with the order of An Introductory Package.
- name: Drones
  description: ''
  coupons:
  - name: DJI Drones
    logo: "/uploads/medium_48b88116-7df7-423f-9981-18f456cfda82.jpeg"
    link: https://click.dji.com/APNtTr87b0B_Kla97XB8yw?as=0002&pm=custom
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: SAVE $294 a year
    desc: Interested in buying drones what is stopping you. Buy and Save. Just sign
      up to DJI website and earn discounts and great discounts.
- name: Vapes
  description: ''
  coupons:
  - name: Air Vape
    logo: "/uploads/avx-se-black-2_1024x1024.webp"
    link: http://www.dpbolvw.net/click-9210567-13886331
    code: CYBERSALE20
    isNew: false
    expiry: 2019-12-07 18:30:00 +0000
    subtitle: Take 20% OFF of the AirVape X, AirVape XS GO, OM Classi
    desc: Get 20% off sitewide when you order your AirVape vaporizers and accessories
      directly from the source. Use this AirVape coupon code for 20% off your order.
  - name: Air Vape
    logo: "/uploads/1_1024x1024.webp"
    link: http://www.kqzyfj.com/click-9210567-13886326
    code: CYBERSALE100
    isNew: false
    expiry: 2019-12-07 18:30:00 +0000
    subtitle: "$100 OFF of the AirVape X SE "
    desc: Get $100 off sitewide when you order your AirVape vaporizers and accessories
      directly from the source. Use this AirVape coupon code to get $100 off your
      order.
  - name: AirVape X Artist Edition
    logo: "/uploads/avx-black-1_1024x1024.webp"
    link: www.kqzyfj.com/click-9210567-13886329
    code: CYBERSALE35
    isNew: false
    expiry: 2019-12-07 18:30:00 +0000
    subtitle: 35% OFF of the AirVape X Artist Edition
    desc: Get 35% off sitewide when you order your AirVape vaporizers and accessories
      directly from the source. Use this AirVape coupon code for 35% off your order.
- name: Games
  description: ''
  coupons:
  - name: Red Dead Redemption 2
    logo: "/uploads/download-4.jpeg"
    link: http://www.tkqlhce.com/click-9210567-13899115
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-02 18:30:00 +0000
    subtitle: 25% OFF
    desc: Red Dead Redeption 2 is a newly launched game which is the next part of
      the popular Red Dead Redemption Series. Use our code and get upto 25% off. Enjoy
      Playing.
  - name: Darksiders Genesis
    logo: "/uploads/717f85b31a4ecf9dc5ad63a2d21b680203732f19.jpeg"
    link: https://www.gamersgate.com/campaign/id/10393/?aff=cj
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-04 18:30:00 +0000
    subtitle: 15% OFF
    desc: Darksiders Genesis is an eagerly awaited game which is expected to launch
      next year. You can pre order this game by using our coupon and save money.
  - name: 'Monster Hunter: Iceborne'
    logo: "/uploads/maxresdefault.jpg"
    link: https://www.gamersgate.com/campaign/id/10584/?aff=cj
    code: ACTIVATED
    isNew: false
    expiry: 2020-03-29 18:30:00 +0000
    subtitle: '12% OFF '
    desc: 'Monster Hunter: Iceborne the next step in the popular Monster Hunter World
      game is an eagerly awaited game is expected to launch next year. You can pre
      order this game by using our coupon and save money.'
- name: Earn/Buy Bitcoins and other cryptocurrencies
  description: ''
  coupons:
  - name: Cointply
    logo: "/uploads/hqdefault.jpg"
    link: http://cointiply.com/r/k9LDm
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Earn Bitcoin's Every Hour
    desc: Cointply is an online platform where you get a chance to earn Bitcoins by
      watching videos, taking surveys, watching ads and much more. This is not a scam.
      You earn coins and can convert the coins into Bitcoins or USD
  - name: Paxful
    logo: "/uploads/download.png"
    link: https://paxful.com/?r=KaQE2wm5ydp
    code: ACTIVATED
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Trade Cryptocurrencies
    desc: 'Paxful is the safest and best platform for trading Cryptocurrencies.  '
    isNew: false
  - name: BTC CLICKS
    link: https://btcclicks.com/?r=bf35b2da
    subtitle: Earn Bitcoins
    desc: Earning bitcoins made easy. Just spend 5 mins of your time everyday and
      you can earn bitcoins.
    isNew: true
    code: ACTIVATED
    logo: "/uploads/Screen Shot 2019-11-02 at 4.24.08 PM.png "
    expiry: 2019-12-30T18:30:00.000+00:00
  - name: Changelly
    link: https://changelly.com/?ref_id=jaq8yj1gk3suo0es
    subtitle: Trade Cryptocurrencies
    desc: 'Changelly is the safest and best platform for trading Bitcoins as well
      as different cryptocurrencies. It is a user friendly platform which makes trading
      of Bitcoins very easy. '
    isNew: false
    code: ACTIVATED
    logo: "/uploads/Screen Shot 2019-11-02 at 4.26.14 PM.png"
    expiry: 2019-12-30T18:30:00.000+00:00
- name: Urban Farming
  description: ''
  coupons:
  - name: seedsNOW
    logo: "/uploads/06k4PRl9jQvIIsn6Yz4ojpi.h200.w200.flpad.v40.bffffff.png"
    link: https://www.seedsnow.com/?rfsn=3365960.158ba8
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: Free Shipping on orders over $20
    desc: 'Buy the best quality seeds to full fill your urban farming needs. '
  - name: seedsNOW
    logo: "/uploads/06k4PRl9jQvIIsn6Yz4ojpi.h200.w200.flpad.v40.bffffff.png"
    link: https://www.seedsnow.com/?rfsn=3365960.158ba8
    code: URBAN20
    isNew: false
    expiry: 2019-12-30 18:30:00 +0000
    subtitle: 20% off on seeds
    desc: Interested in urban farming why not buy some seeds for your home and also
      get a good discount.
  - name: Never Buy Seeds Again
    logo: "/uploads/unnamed.png"
    link: https://dd200.isrefer.com/go/NeverBuySeeds/vids548/
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30T18:30:00.000+00:00
    subtitle: Seed Saving for Health, Vitality and Self-Reliance
    desc: For those that care about their health, and understand that taking control
      of what we eat is the most crucial step towards feeling healthy.   For those
      that want to learn how to hand-select crops for ultimate health benefits.   For
      home gardeners, from newbies to experts, who want to learn to read their garden
      to choose the BEST crops to reproduce each season.
  - name: Own Your Seeds
    logo: "/uploads/unnamed.png"
    link: https://dd200.isrefer.com/go/OwnYourSeeds/vids548/
    code: ACTIVATED
    isNew: false
    expiry: 2019-12-30T18:30:00.000+00:00
    subtitle: Take Control of Your Food and Health
    desc: 'Grow an abundance of unique varieties of fruits and veggies that are more
      delicious than you''ve ever tasted before. Understand why foods grown from your
      own seeds are PACKED with nutrients that support your health. Dispel the myths
      people tell you about seed saving (hint: it''s easy, and even beginning gardeners
      can do it).'
description: The Online Coupon Store
image: ''

---
<header id="nav-header" class='bg-danger'>
  <div class='d-flex position-relative nav-wrap justify-content-between align-items-center px-2'>
    <div id="nav-logo">
      <a class='font-weight-bolder h1 text-cursive text-nowrap text-decoration-none text-white' href='{{- site.url -}}' label="{{- site.logo_name -}}">
        <img src="{{site.logo}}" alt="{{- site.logo_name -}}"/>
      </a>
    </div>
    <!-- nav -->
    <nav id="nav-links" class='navbar navbar-dark bg-danger'>
      <div class='nav m-auto justify-content-center'>
        {%- for section in page.coupons -%}
          <a class='nav-link text-white' href='#{{- section.name | downcase -}}'>{{- section.name -}}</a>
          {% if forloop.index == 4 %}
          {% break %}
          {% endif %}
        {%- endfor -%}
        <details id="menu-dropdown" class="nav-link text-white position-relative">
          <summary class="dropdown-title"></summary>
          <div class="dropdown-summary position-absolute bg-white text-nowrap">
            {%- for section in page.coupons -%}
              {% if forloop.index <= 1 %}
              {% continue %}
              {% endif %}
              <a class='nav-link text-danger' href='#{{- section.name | downcase -}}'>{{- section.name -}}</a>
            {%- endfor -%}
          </div>
        </details>
      </div>
    </nav>
    <div id="coupon-typeahead-wrap" class="position-relative input-group">
      <input id="coupon-typeahead" type="text" class="form-control border-0 rounded-0" aria-label="Search" placeholder="🔍">
      <div class="input-group-append">
        <button class="input-group-text btn" type="button" data-toggle="modal" data-target="#sidebar">☰</button>
      </div>
      <div id="coupon-typeahead-results" class="typeahead-results list-group list-group-flush border-1 rounded-0 position-absolute w-100"></div>
    </div>
  </div>
</header>
<!-- put banner here -->
<div id="bannerCarousel" class="carousel slide nav-wrap mt-4" data-ride="carousel" data-interval="3000" data-pause="hover">
  <ol class="carousel-indicators">
    {%- for banner in page.banner -%}
    <li data-target="#bannerCarousel" data-slide-to="{{- forloop.index0 -}}" {% if forloop.first %}class="active"{% endif %}></li>
    {%- endfor -%}
  </ol>
  <div class="carousel-inner">
    {%- for banner in page.banner -%}
    <a href='{{- banner.link -}}' target="_blank" class='carousel-item {% if forloop.first %}active{% endif %}'>
      <img loading="lazy" class="d-block w-100" src="{{- banner.image -}}" alt="{{- banner.name-}}" height="250">
    </a>
    {%- endfor -%}
  </div>
  <a class="carousel-control-prev" href="#bannerCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#bannerCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<main class='container-fluid'>
{%- for section in page.coupons -%}
{%- assign primaryIndex = forloop.index -%}
<h2 class='text-black-50 text-center text-cursive mt-4 mb-2' id='{{- section.name | downcase -}}'>
  {%- if section.description != '' -%}
  {{- section.description -}}
  {%- else -%}
  {{- section.name -}}
  {%- endif -%}
</h2>
<div class='row justify-content-center'>
{%- for coupon in section.coupons -%}
{%- assign secondaryIndex = forloop.index | prepend: '-' | prepend: primaryIndex -%}
<a id="{{secondaryIndex}}" class='card col-md-3 p-0 mx-4 my-2 text-decoration-none shadow-lg' data-toggle='modal' data-target='#couponModal' data-details='{{- coupon | jsonify | escape_once -}}' href='{{- coupon.link -}}' target='_blank' rel="noopener">
  {%- if coupon.isNew -%}
  <div class="ribbon"><span>New</span></div>
  {%- endif -%}
  <img loading="lazy" src='{{- coupon.logo | absolute_url -}}' class='card-img-top img-contain mt-2 px-4' alt='{{ coupon.name }}' height='110' loading="lazy">
  <div class='card-body'>
    <h3 class='card-title lead' data-label="{{ coupon.name | downcase }}" data-index="{{ secondaryIndex }}">{{- coupon.name -}}</h3>
    <h4 class='card-subtitle h6 text-muted'>{{ coupon.subtitle }}</h4>
  </div>
  <div class='card-footer bg-danger text-white'>Valid till: {{ coupon.expiry | date_to_string }}</div>
</a>
{%- endfor -%}
</div>
{%- endfor -%}
</main>
<!-- put secondary banner here -->
<!-- Modal -->
<aside class='modal fade' id='couponModal' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-body text-center'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
        <img loading="lazy" id="coupon-logo" class="my-4 w-100 img-contain" src="" height="110" loading="lazy"/>
        <div class='modal-title h4' id="coupon-name"></div>
        <div class='modal-title h5 my-2 text-muted' id="coupon-sub"></div>
        <div class="input-group my-4 mx-auto w-50">
          <input id="coupon-code" type="text" class="form-control text-center h3" value="" readonly="" />
          <div class="input-group-append" onclick="javascript:copyCoupon()">
            <span class="input-group-text bg-info border-info text-white">COPY</span>
          </div>
        </div>
        <hr/>
        <div class="text-justify">
          <span class="text-muted">Details: </span>
          <span id="coupon-desc"></span>
          <hr/>
          Expires: <span id="coupon-expires" class="text-muted"></span>
        </div>
      </div>
    </div>
  </div>
</aside>