<!-- foot -->
<footer class='bg-dark text-white shadow-lg py-6'>
  <div class='nav-wrap'>
    <nav class='d-flex flex-wrap justify-content-center'>
      <a class='text-white m-4' href='#'>Active</a>
      <a class='text-white m-4' href='#'>Link</a>
      <a class='text-white m-4' href='#'>Active</a>
      <a class='text-white m-4' href='#'>Link</a>
      <a class='text-white m-4' href='#'>Active</a>
      <a class='text-white m-4' href='#'>Link</a>
    </nav>
    is a registered trademark of , Inc. Third-party trademarks are the property of their respective third-party owners. Presence of a third-party trademark does not mean that  has any relationship with that third-party or that the third-party endorses  or its services.
  </div>
</footer>
{% if site.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
<script src="{{- '/assets/js/jquery-3.3.1.slim.min.js' | absolute_url -}}"></script>
<script src="{{- '/assets/js/bootstrap/4.3.1/bootstrap.min.js' | absolute_url -}}"></script>
<script> 
function toAbsolute(url) {
  return (url.indexOf('http')===0) ? url : '{{ "/" | absolute_url }}'+url.replace(/^\//,'');
}
{{- page.javascript -}}
</script>
</body>
</html>