<footer class='bg-danger shadow-lg'>
  <div class='nav-wrap text-white-50 text-justify'>
    <nav class='d-flex flex-wrap justify-content-center'>
      <a class='text-white m-4' href='{{"/" | absolute_url}}'>Home</a>
      <a class='text-white m-4' href='{{"/about-us" | absolute_url}}'>About Us</a>
      <a class='text-white m-4' href='{{"/privacy-policy" | absolute_url}}'>Privacy Policy</a>
      <a class='text-white m-4' href='{{"/terms-and-conditions" | absolute_url}}'>Terms & Conditions</a>
    </nav>
    Craybuy.com was launched in 2018 with the goal to provide best deals and coupons to its visitors. We are also a small network of publishers who collectively promote various offers.
  </div>
</footer>