<footer class='bg-dark shadow-lg py-4'>
  <div class='nav-wrap text-white-50'>
    <nav class='d-flex flex-wrap justify-content-center'>
      <a class='text-white m-4' href='{{"/" | absolute_url}}'>Home</a>
    </nav>
    Craybuy is a registered trademark of Craybuy, Inc. Third-party trademarks are the property of their respective third-party owners. Presence of a third-party trademark does not mean that  has any relationship with that third-party or that the third-party endorses Crazybuy or its services.
  </div>
</footer>