<!DOCTYPE html>
<html lang="{{- site.lang -}}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="agd-partner-manual-verification" />
{%- seo -%}
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{- '/assets/css/bootstrap/4.3.1/bootstrap.min.css' | absolute_url -}}" />
<link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}" />
<link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
</head>
<body>