<!DOCTYPE html>
<html lang="{{- site.lang -}}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{%- seo -%}
<link rel="stylesheet" href="{{- '/assets/css/bootstrap/4.3.1/bootstrap.min.css' | absolute_url -}}" />
<link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}" />
</head>
<body>
<!-- head -->
<nav class='bg-dark'>
  <div class='d-flex nav-wrap justify-content-around align-items-center py-4'>
    <a class='font-weight-bolder h1 text-cursive text-nowrap text-decoration-none text-white w-25 m-0' href='{{- site.url -}}'>
      <img src="{{- site.logo | absolute_url -}}" alt="{{- site.logo_name -}}" class="img-contain m-0 p-0" height="64"/>
    </a>
    {{- page.headbar -}}
    <div class='w-25 text-right'>
      <button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#sidebar">☰</button>
    </div>
  </div>
</nav>