<header class='bg-danger'>
  <div class='d-flex position-relative nav-wrap justify-content-between align-items-center px-2'>
    <div id="nav-logo">
      <a class='font-weight-bolder h1 text-cursive text-nowrap text-decoration-none text-white' href='{{- site.url -}}' label="{{- site.logo_name -}}">
        <img src="{{site.logo}}" alt="{{- site.logo_name -}}"/>
      </a>
    </div>
    <button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#sidebar">☰</button>
  </div>
</header>